body {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-moderno-tecnologia_1035-7387.jpg?w=826&t=st=1686365874~exp=1686366474~hmac=7701a284d407f18e3daeeb4089d6de617f30d048d8d541f1d42069d3ce35646d');
    
    background-repeat: repeat;
    /* Otros estilos para el fondo */
  }

  body {
    padding: 5%;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f8f8f8;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .about-me {
    margin-top: 40px;
    text-align: center;
  }

  .about-me p {
    margin-bottom: 20px;
  }

  .motivo {
    margin-top: 40px;
    text-align: center;
  }

  .motivo p {
    margin-bottom: 20px;
  }